[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastmcp = "==2.2.7"
python-dotenv = "==1.1.0"
aiohttp = {extras = ["speedups"], version = "==3.11.14"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
